<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nos Services</title>
    <link rel="stylesheet" href="/styleser.css">
</head>
<body>
    <nav>
        <a href="/">Accueil</a>
        <a href="/services">Nos Services</a>
        <a href="/contact">Contactez-nous</a>
    </nav>
    <h1>Nos Services</h1>

    <div class="service">
        <h2>Formation en Technologie</h2>
        <p>Proposer des programmes de formation et de perfectionnement professionnel dans les domaines de la technologie, du développement web, du design UX/UI et des compétences numériques.</p>
    </div>

   
    <div class="service">
        <h2>Support Technique et Maintenance</h2>
        <p> Fournir des services de support technique et de maintenance pour les sites web et les applications, y compris les mises à jour de sécurité, les correctifs de bugs et l'optimisation des performances.</p>
    </div>

    <div class="service">
        <h2>Consultation en Stratégie Numérique </h2>
        <p> Offrir des services d'hébergement web fiables et sécurisés ainsi que la gestion de noms de domaine pour les entreprises et les particuliers.</p>
    </div>

    <div class="service">
      <h2>Hébergement Web et Gestion de Domaines </h2>
      <p>Fournir des services de consultation pour aider les entreprises à élaborer et à mettre en œuvre des stratégies numériques efficaces, y compris l'analyse de marché, la planification stratégique et la gestion de projet.</p>
  </div>
</body>
</html>
