
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}


h1 {
    font-size: 2rem;
    margin: 2rem 0;
    text-align: center;
}

.service {
    background-color: #f3def0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
}

.service h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.service p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
